@import "~bootstrap";

body{
  background: #f1f3f4;
  display: flex;
}

.btn-primary{
  background: #311b92;
  outline: none;
  border: 2px solid #311b92;
  transition: all .3s ease-in-out ;
}

.btn-primary:hover{
  background: #F7F7F7;
  color: #311b92;
  border: 2px solid #311b92;
}

.btn-success{
  background: #00796b;
  outline: none;
  border: 2px solid #00796b;
  transition: all .3s ease-in-out ;
}

.btn-success:hover{
  background: #F7F7F7;
  color: #00796b;
  border: 2px solid #00796b;
}

.sidebar{
  height: 100vh;
  width: 300px;
  background: #0f1923;
  color: #e7e8e9;
}
.brand{
  font-size: 1.5rem;
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brandline{
  content: '';
  width: 100%;
  height: 5px;
  background: #5a6673;
}
ul {
  list-style-type: none;
  margin-top: 30px;
}
ul li a{
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 17px;
  font-weight: 500;
  padding: 15px 0 15px 50px;
  position: relative;
  z-index: 1;
  color: #5a6673;
  transition: all .3s ease-in-out;
}
ul li a:hover{
  color: #e7e8e9;
  //border-right: 5px solid burlywood;
}
.active{
  color: #e7e8e9;
  border-right: 5px solid burlywood;
}
.no-right-padding{
  padding-right: 0 !important;
}

.no-left-padding{
  padding-left: 0 !important;
  display: flex;
  justify-content: flex-start;

}
.btn-search{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-search{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
